section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section > * {
 width: 100%;
}

.heading {
  background: url(../images/dmitry-ratushny-xsGApcVbojU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125vw 15.625vw;
  color: white;
  align-items: flex-end;
}

.heading .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.intro {
  overflow: hidden;
  position: relative;
  background: black;
}

.intro > img {
  opacity: .4;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 850px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1240px; 
  margin: 1.875vw auto;
}

.intro .container * {
  margin-bottom: 20px;
  color: white;
  z-index: 1;
}

.container .logo {
  flex-basis: 35%;
  z-index: 0;
}

.container > h1 {
  flex-basis: 100%;
  text-align: center;
}

.intro .container > p,
.intro .container > .img {
  flex-basis: 40%;
  margin: 0px 1.25vw 5px;
}

.explanation .container {
  justify-content: space-around;
}

.explanation .container > div,
.explanation .container > .img {
  flex-basis: 40%;
}

.explanation .container div {
  display: flex;
  flex-direction: column;
}

.purpose main {
  background-color: #D3D3D3;
  width: 93%;
  padding: 30px 0;
  color: black;
}

.purpose .container > * {
  margin: 1.25vw;
}

.purpose h1 {
  text-align: center;
}

.purpose main p {
  max-width: 800px;
  margin: auto auto;
  padding: 0 2.5vw;
}

.purpose-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.purpose-tile {
  flex: 1 1 300px;
  height: 300px;
  margin: 20px;
  padding:0 40px 15px;
  display: flex;
  align-items: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.purpose-tile::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  z-index: 0;
}

.purpose-tile * {
  z-index: 2;
  margin-bottom: 15px;
}

.purpose-tile:first-child {
  background-image: url(../images/baby-beautiful-blur-322070.jpg);
}

.purpose-tile:nth-child(2) {
  background-image: url(../images/baby-boys-brothers-50692.jpg);
}

.purpose-tile:nth-child(3) {
  background-image: url(../images/baby-blur-child-733880.jpg);
}

.purpose-tile:nth-child(4) {
  background-image: url(../images/child-enjoyment-from-above-2790771.jpg);
}

.purpose-tile:nth-child(5){
  background-image: url(../images/adorable-book-boy-1250722.jpg);
}

.purpose-tile:last-child {
  flex: 0 0 96.7%;
  height: auto;
  display: flex;
  padding: 25px 100px;
  flex-direction: column;
  background-image: url(../images/stock-photo-macro-photo-of-tooth-wheel-mechanism-with-trust-reliability-consistency-competence-integrity-737412415.jpg);
}

.purpose-tile:last-child::before {
  background-color: rgba(0,0,0, .8);
}

.purpose-tile:last-child .capacity-skills {
  display: block;
  column-count: 2;
  column-gap: 50px;
  z-index: 2;
  margin-top: 15px;
}

.contact {
  background-color: rgba(34, 34, 34, 1);
  color: rgba(255, 255, 255, .9);
}

.contact .container > p {
  max-width: 800px;
}

@media screen and (max-width: 588px) {
  .heading h1 br {
    display: none;
  }

  .container > p {
    flex-basis: 75%;
  }
}

@media screen and (max-width: 850px) {
  .explanation .container div, 
  .explanation .container .img {
    flex-basis: 75%;
    margin: 5px 0;
  }
}