section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section > * {
 width: 100%;
}

.heading {
  background: url(../images/dmitry-ratushny-xsGApcVbojU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125vw 15.625vw;
  color: white;
  align-items: flex-end;
}

.heading .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.intro {
  overflow: hidden;
  position: relative;
  background: black;
}

.intro > img {
  opacity: .4;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 850px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1240px; 
  margin: 1.875vw auto;
}

.intro .container * {
  margin-bottom: 20px;
  color: white;
  z-index: 1;
}

.container .logo {
  flex-basis: 35%;
  z-index: 0;
}

.container > h1 {
  flex-basis: 100%;
  text-align: center;
}

.container > p,
.container > .img {
  flex-basis: 40%;
  margin: 0px 1.25vw 5px;
}

.explanation .container {
  justify-content: space-around;
}

.explanation .container > div,
.explanation .container > .img {
  flex-basis: 40%;
}

.explanation .container div {
  display: flex;
  flex-direction: column;
}

.purpose main {
  background-color: #D3D3D3;
  width: 90%;
  padding: 30px 0;
  color: black;
}

.purpose .container > * {
  margin: 1.25vw;
}

.purpose h1 {
  text-align: center;
}

.purpose main p {
  max-width: 800px;
  margin: auto auto;
  padding: 0 2.5vw;
}

.purpose-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.purpose-tile {
  flex: 1 1 300px;
  height: 300px;
  margin: 20px;
  padding:0 40px 15px;
  display: flex;
  align-items: flex-end;
  background-color: gray;
}

.purpose-tile:last-child {
  flex: 0 0 80%;
  height: auto;
  display: block;
}

.purpose-tile:last-child > p {
  padding: 10px;
}

.purpose-tile:last-child .capacity-skills {
  display: block;
  column-count: 2;
}

.purpose-tile:last-child .capacity-skill {
  margin: 15px 10px;
  color: white;
}

@media screen and (max-width: 588px) {
  .heading h1 br {
    display: none;
  }

  .container > p {
    flex-basis: 75%;
  }
}

@media screen and (max-width: 850px) {
  .explanation .container div, 
  .explanation .container .img {
    flex-basis: 75%;
    margin: 5px 0;
  }
}